In [3]:
# Autor: Gabriel do Amaral Alves
# Curso: Satander Coders - Data Science
# Data: 15/06/2024
# Aula: Analisando Dados

import pandas as pd

In [4]:
peoples = pd.read_csv("./people-100.csv")
peoples.head()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon

In [5]:
# Selecionando colunas:
peoples.columns

Index(['Index', 'User Id', 'First Name', 'Last Name', 'Sex', 'Email', 'Phone',
       'Date of birth', 'Job Title'],
      dtype='object')

In [6]:
# Profiss√µes comuns nesse dataset:
profissoes_comuns = peoples["Job Title"].value_counts()

In [7]:
# Exibindo profissoes comuns:
print(profissoes_comuns)

Job Title
Biochemist, clinical                                           3
Scientist, clinical (histocompatibility and immunogenetics)    2
Accountant, chartered management                               2
Outdoor activities/education manager                           2
Jewellery designer                                             2
                                                              ..
Art gallery manager                                            1
Recycling officer                                              1
Counsellor                                                     1
Conservation officer, nature                                   1
IT sales professional                                          1
Name: count, Length: 91, dtype: int64

In [8]:
# Pegando o total de pessoas:
total_pessoas = peoples.shape[0]

In [9]:
# Exibindo total pessoas:
print(total_pessoas)

100